.thum-img {
    width: 5%;
    border-radius: 20px;
  }
  
  .navbar {
    border-color: bisque;
  }
  .readreceipt {
    display: flex;
    background-color: rgb(55, 194, 74);
    width: 1%;
    border-radius: 25px;
    max-height: 1.3vh;
  }
  .readreceiptbox {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5%;
    background-color:rgb(200, 200, 241);
  }
  .readreceiptboxseen {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5%;
    background-color: white;
  }
  
  .inbox-count {
    display: flex;
    justify-content: space-around;
    max-height: 4vh;
  }
  .inbox-count h5 {
    color: rgb(13, 26, 145);
  }